
  /*
   * Credit to General Assembly SF https://github.com/justinaugust/what-value-what-damage
   * Formatting the header area
   */

  body {
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 30px;
    font-family: Verdana, sans-serif;
    padding-top: 0px;
  }
    
  input[type=text] {
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    height: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
         border-radius: 6px;

    float: center;
    display: inline-block;
    width: 300px;
  }

  input[type=submit] {
    background-color: #b5b6ba;
    color: white;
    float: center;
    margin: 4px 2px;
    height: 35px;

    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
         border-radius: 6px;    
  }
  
  button[type=submit] {
    background-color: #b5b6ba;
    color: white;
    float: center;
    margin: 4px 2px;
    height: 35px;

    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
         border-radius: 6px;    
  }
  button[type=goback] {
    background-color: #b5b6ba;
    color: white;
    float: center;
    margin: 4px 2px;
    height: 35px;

    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
         border-radius: 6px;    
  }